[Desktop Entry]
Name=RustDesk
Comment=Remote Desktop Software
Exec=rustdesk
Icon=rustdesk
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
StartupWMClass=rustdesk
Keywords=remote;desktop;